 /* Reset some default styles */
body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #FFD1DC; /* Light pink background color */
    border-bottom: 2px solid #B9D7FF; /* Light blue border */
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
}

/* Apply rounded 3xl borders to all images */
img {
    border-radius: 20px; /* Adjust the value as needed */
}

/* Create a 4-column grid layout for the PortfolioExamples */
#PortfolioExamples {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 equal-width columns */
    grid-gap: 20px; /* Adjust the gap between items as needed */
    text-align: center;
    width:fit-content;
}
/* Add overflow-x for scrolling */
#PortfolioExamplesContainer {
    width: 100%; /* Set the desired width */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

#PortfolioExamples2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equal-width columns */
    grid-gap: 20px; /* Adjust the gap between items as needed */
    text-align: center;
}


/* Style each item within the grid */
#PortfolioExamples h2,
#PortfolioExamples h4,
#PortfolioExamples p,
#PortfolioExamples img {
    margin: 0;
}

#branding-guide{
    padding: 8px;
    height: 10px;
}
nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black; /* Text color */
    font-weight: bold;
    font-size: 1.2rem;
}

/* Body styling */
body {
    background-color: rgb(251, 247, 247);
    font-family: 'Arial', sans-serif;
    color: black; /* Text color */
    border: 2px solid #B9D7FF; /* Light blue border */
}

/* Flexbox container styling */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Individual sections styling */
.flex-container > div {
    flex: 1;
    max-width: 33%;
    text-align: center;
    padding: 20px;
}

/* Set the background image */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other elements */
}

#background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; /* Adjust opacity as desired */
}

/* Style the new PDF image container */
#pdf-image {
    flex: 1;
    max-width: 33%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */

}

#brand-intro {
    align-items: center;
}

/* Style the PDF image */
#pdf-image img#branding-guide {
    max-width: auto; /* Adjust the width as needed */
    height: 400px; /* Maintain the aspect ratio */
    cursor: pointer;
}

/* Style the Sandpiper-Intro div */
#Sandpiper-Intro {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    gap: 20px; /* Add some spacing between items */
    
}

/* Style the individual sections within Sandpiper-Intro */
#Sandpiper-Intro div {
    max-width: 100%;

}

/* Style the PDF image */
#pdf-image img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}


/* Style the individual sections within Sandpiper-Intro */
#Sandpiper-Intro div {
    flex: 1;
    max-width: 48%;
    text-align: center;
    padding: 20px;
}


#Portfolio{
    text-align: center;
}

/* Footer styling */
footer {
    background-color: #FFD1DC;
    padding: 20px 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-contact,
.footer-links {
    margin-right: 40px;
}

.footer-contact h4,
.footer-links h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-contact ul,
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-contact li,
.footer-links li {
    margin-bottom: 8px;
}

.footer-contact a,
.footer-links a {
    text-decoration: none;
    color: #333;
}


/* Add a media query to stack the divs vertically on tablet and phone */
@media screen and (max-width: 768px) {
    #Sandpiper-Intro div {
        max-width: 100%;
        margin: 0;
    }
    #pdf-image img {
        height: auto;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        margin-top: 20px;
    }

    .footer-contact,
    .footer-links {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    header {
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 20px;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

       /* Center the PDF image vertically on mobile */
       #pdf-image {
        max-width: 100%;
    }
}
